 <section style="padding-top: 50px;">
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-sm-6 col-md-3  p-3">
                    <div class="card" style="width:246px; height: 310px;">
                        <img class="card-img-top" style="width: 200px;"
                            src="/product-images/{{this.product._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body mb-2">
                            <h5 class="card-title">{{this.product.Name}}</h5>
                            <p class="card-text ">Quantity: {{this.quantity}}</p>
                            {{! <p class="card-text ">{{this.Description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
    </section>
    